# files
.vscode
.env
.env.local
package-lock.json
yarn.lock
.idea

# folders
build
node_modules

# Yarn Files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Prisma Files
prisma/*
!prisma/schema.prisma
